# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# Database
*.db
*.sqlite
*.sqlite3

# Environment variables / instance
instance/
.env
.env.local

# VS Code
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log
